body {
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	text-decoration: none;
}

.ani-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.d-none{
	display: none;
}

// html,
// body,
// #root,
// .app {
// height: 100%;
// }
